html 
{
    background: #ddd;
    /*background: url(/images/fundo1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body
{
    padding-top: 85px;
    background-color: none;
    margin: 0px 0px 0px 0px;
    color: #333;
    font: 20px Lato;
    font-weight: 100;
    text-align: justify;
}


#indexlayout
{
    background: url(/images/fundo1.jpg) no-repeat center center fixed; 
}
#contactlayout
{
    background: url(/images/hike2014.jpg) no-repeat center center fixed;
}
#indexlayout, #indexlayout
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


p
{
    margin: 0px 0px;
}

a, a:visited
{
    color: #CA4A0A;
    text-decoration: none;
}

a:hover
{
    color: #2C0;
    text-decoration: none;
}

a img
{
    border: 0px;
}







/* horizontal menu */
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav li, .navbar-inverse li, .navbar-nav a, .navbar-inverse a
{
    font: 20px 'Arvo';
    color: #CFC;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand > li > a, .navbar-inverse .navbar-brand li, .navbar-brand a
{
    font: 25px 'Wellfleet';
    color: #FFF;
    padding: 10px;
}



/* side menu */


#sidebar
{
    position: fixed;
    right: -10px;
}


#sidebar img
{
    width: 50px;
}

.list-group
{
    width: 80px;
    background-color: #222;
    opacity: 0.8;
    border-radius: 10px;
}

#sidebar div.list-group a.list-group-item
{
    padding: 8px 20px 8px 10px;
    margin: 0px 0 0px 0;
    background-color: none;
    border: 0px;
}




/* main container */

#content
{
    background-color: #fff;
    padding: 25px 30px 25px 30px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 10px 5px 30px 1px;
    margin-bottom: 30px;
}


#indexshift
{
    background-color: #fff;
    padding: 0px 30px 20px 30px;
    margin: 0 0 0 50%;
    margin-bottom: 30px; 
    width: 600px;
    border: 0px ;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px;
    opacity: 0.88;
}
#contactshift
{
    background-color: #fff;
    padding: 0px 30px 10px 30px;
    margin-left: 5%;
    margin-bottom: 30px;
    width: 600px;
    border: 0px ;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px;
    opacity: 0.85;
}


@media screen and (max-width: 1200px)
{
    #indexshift
    {
	margin: 0 0 0 45%;
    }

}


@media screen and (max-width: 1100px)
{
    #indexshift
    {
	margin: 0 0 0 40%;
    }

}

@media screen and (max-width: 1000px)
{
    #indexshift
    {
	margin: 0 0 0 30%;
    }

}


@media screen and (max-width: 850px)
{
    #indexshift
    {
	width: 95%;
	margin: 0 auto 0 auto;
    }
}


#content h1, #indexshift h1, #contactshift h1
{
    border-bottom: 2px solid #E80;
    padding: 0px 30px; 
    color: #E80;
    font: 40px Arvo;
    margin-top: 20px;
    margin-bottom: 30px;
}

#content h2, #indexshift h2, #contactshift h2
{
    margin: 50px 0 30px 0;
    padding: 0px 10px; 
    color: #3A2;
    font: 28px Arvo;
}


ul.publications li
{
    margin-bottom: 10px;
    font: 19px;
    list-style-image: url('/images/listicons.jpg');
}



@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}
