html
{
    background: #ddd;
    /*background: url(/images/fundo1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body
{
    padding-top: 70px;
    background-color: none;
    margin: 0px 0px 0px 0px;
    color: #333;
    font: 20px Lato;
    font-weight: 100;
    text-align: left;
}

.container { width: 85%; }

@media screen and (max-width: 900px)
{
.container { width: 96%; }
}


hr.fancy-line
{
    clear: both;
    float: none;
    width: 90%;
    height: 1px;
    margin: 20px 0 20px;
    border: none;
    background: #ddd;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(255,255,255)), color-stop(0.2, rgb(221,221,221)), color-stop(0.8, rgb(221,221,221)), color-stop(1, rgb(255,255,255)) );
    background-image: -moz-linear-gradient( left center, rgb(255,255,255) 0%, rgb(221,221,221) 20%, rgb(221,221,221) 80%, rgb(255,255,255) 100% );
}



#indexlayout
{
    background: url(/images/fundo1.jpg) no-repeat center center fixed;
}
#contactlayout
{
    background: url(/images/hike2014.jpg) no-repeat center center fixed;
}
#indexlayout, #indexlayout
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


p
{
    margin: 0px 0px;
}

a, a:visited
{
    color: #CA4A0A;
    text-decoration: none;
}

a:hover
{
    color: #2C0;
    text-decoration: none;
}

a img
{
    border: 0px;
}







/* horizontal menu */
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav li, .navbar-inverse li, .navbar-nav a, .navbar-inverse a
{
    font: 20px 'Arvo';
    color: #CFC;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand > li > a, .navbar-inverse .navbar-brand li, .navbar-brand a
{
    font: 25px 'Wellfleet';
    color: #FFF;
    padding: 10px 0px;
    margin-right: 10px;
}


@media screen and (max-width: 950px)
{

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav li, .navbar-inverse li, .navbar-nav a, .navbar-inverse a
{
    font: 18px 'Arvo';
    color: #CFC;
    padding: 7px 8px;
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand > li > a, .navbar-inverse .navbar-brand li, .navbar-brand a
{
    font: 18px 'Wellfleet';
    color: #FFF;
    padding: 13px 0px;
    margin-right: 10px;
}

}

@media screen and (max-width: 850px)
{
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav li, .navbar-inverse li, .navbar-nav a, .navbar-inverse a
{
    padding: 7px 5px;
}
}


.dropdown-menu > li > a:hover
{
    color: #E80;
    background-color: #CFC;
}




/* side menu */


#sidebar
{
    position: fixed;
    right: -10px;
}


#sidebar img
{
    width: 50px;
}

.list-group
{
    width: 80px;
    background-color: #222;
    opacity: 0.8;
    border-radius: 10px;
}

#sidebar div.list-group a.list-group-item
{
    padding: 8px 20px 8px 10px;
    margin: 0px 0 0px 0;
    background-color: none;
    border: 0px;
}




/* main container */

#content
{
    background-color: #fff;
    padding: 25px 80px 25px 80px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 10px 5px 30px 1px;
    margin-bottom: 30px;
}


#indexshift
{
    background-color: #fff;
    padding: 0px 30px 20px 30px;
    margin: 0 0 0 50%;
    margin-bottom: 30px;
    width: 650px;
    border: 0px ;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px;
    opacity: 0.88;
}
#contactshift
{
    background-color: #fff;
    padding: 0px 30px 10px 30px;
    margin-left: 5%;
    margin-bottom: 30px;
    max-width: 600px;
    border: 0px ;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px;
    opacity: 0.85;
}


#content img.pic, #content img.centerpic
{
    border-radius: 6px;
    border: 0px solid #222;
    box-shadow: 5px 5px 10px 1px;
    margin: 5px 5px 5px 5px;
}
#content img.centerpic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#content p
{
    margin: 5px 2px 4px 2px;
}


#content h1, #indexshift h1, #contactshift h1
{
    border-bottom: 2px solid #E80;
    padding: 0px 30px;
    color: #E80;
    font: 40px Arvo;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
}


#content h2, #indexshift h2, #contactshift h2
{
    margin: 50px 0 30px 0;
    padding: 0px 10px;
    color: #3A2;
    font: 28px Arvo;
    text-align: left;
}

#content .row h2
{
    margin: 5px;
    display:block;
    margin: 0 auto 0 auto;
    text-align: center;
}



a.btn-primary, a.btn-primary:hover
{
    color: #222;
    background-color: #FB6;
    font-size: 18px;
    border-color: #222;
    border-width: 1px;
}

a.btn-primary:hover
{
    background-color:#E80;
}


.intro
{
    margin: 0;
    padding: 0;
}


ul.publications li
{
    margin-bottom: 18px;
    font: 19px;
    list-style-image: url('/images/listicons.jpg');
}


ul.socialmedia {
    list-style-type: none;
}

ul.socialmedia li {
    margin: 20px 0 20px;
}

ul.socialmedia a { color: #222; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}


/* blog */

#post, #post-list
{
    text-align: left;
}

#post-list img.post-img-inset
{
  display: block;
  margin: 15px 0px 0px 0px;
  width: 100%;
}

img.post-img
{
  display: block;
  margin: 15px auto 20px auto;
  width: 50%;
  /*border-radius: 6px;
  border: 0px solid #222;
  box-shadow: 5px 5px 10px 1px;*/
}

p.img {width: 90%;}
#post img.pulll-right, #post-list img.pulll-right
{
    margin: 4px 0px 4px 20px;
    float: right;
    width: 40%;
}

img.snapshot
{
    display: block;
    margin: 15px auto 5px auto;
    width: 90%;
    border-radius: 6px;
    border: 0px solid #222;
    box-shadow: 5px 5px 10px 1px;
}

#content h1.blog
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}


#content #post h1
{
    margin-bottom: 15px;
    /*border-bottom: 0px solid;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 0px 0px;
}
#content #post h2
{
    margin: 50px 0px 20px 0px;
    padding: 0px 0px;
    color: #E80;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
#post p, #post ul, #post-list p, .post-entry p, .post-entry ul
{
    font-family: 'Open Sans', Arial;
    text-align: left;
    font-weight: 100;
    color: #333;
    margin: 10px 10% 20px 0px;
    font-size: 14pt;
    line-height: 24px;
}

.post-meta{ margin: 3px 20% 40px 0px; font-size: 12pt; }
#post-list .post-meta { margin-bottom: 2px; padding-left: 0px; }
.post-meta span { margin-right: 20px; }

.post-date
{
    margin: 0px 10% 3px 0px;
    font-size: 12pt;
}


#post-list h2, #tag-list h2
{
    margin-bottom: 5px;
    margin-left: 0px; padding-left: 0px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #E80;
}
#post-list h2, #post-list h2 a { color: #E80; }
#post-list p { margin-left: 0px; font-size: 14pt; }
#post-list hr.fancy-line { margin: 0px;  }

#post-list .label a {color:#333;}
#post-list span.label
{
    padding: 8px 0px;
    border-radius: 0px;
    display: inline-block;
    width: 150px;
    margin: 0 0px;
    background-color: #CCC;
}
#post-list p.label { text-align: right;}

#post code, #post-list code
{
    font-family: monospace;
    font-size: 14pt;
    color: #444;
}
#post .highlighter-rouge pre.highlight
{
    margin: 15px 40px 2px 10px;
    border: 0px solid;
    border-radius: 0px;
    background-color: #FED;
}

#post blockquote
{
    padding: 10px 0px;
    margin: 20px 20px 20px;
    border-left: 5px solid #E80;
}
#post blockquote p
{
    font-size: 18pt;
    color: #888;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}


#post .gist { margin: 0 20% 0 20px; }



iframe.YouTube
{
    display: block;
    margin: 30px 0px 30px 20px;

    width: 800px;
    height: 450px;
    box-shadow: 10px 15px 5px #888888;
}
@media screen and (max-width: 1200px)
{
  iframe.YouTube { width: 560px; height: 315px; }
}
@media screen and (max-width: 900px)
{
    iframe.YouTube { width: 80%; margin-left: 5px; }
}


/* comments */

#disqus_thread
{
    width: 75%;
    margin: 50px 20px;
}




@media screen and (max-width: 1400px)
{
    body{ font: 18px Lato; }
}
@media screen and (max-width: 1300px)
{
    #indexshift { margin: 0 0 0 45%; }
}
@media screen and (max-width: 1200px)
{
    #indexshift { margin: 0 0 0 40%; }
}
@media screen and (max-width: 1100px)
{
    #indexshift { margin: 0 0 0 30%; }
    body{ font: 18px Lato; }

    #content { padding: 25px 50px 25px 50px;}
}
@media screen and (max-width: 900px)
{
    #post .gist { margin: 0 15px 0 15px; }

    img.post-img
    {
	       width: 80%;
    }

    #post p, #post ul, #post-list p, .post-entry p,
    .post-entry ul
    {
      	margin: 10px 15px 10px 15px;
      	font-size: 14pt;
    }

    #post code
    {
	       font-size: 16pt;
    }
}
@media screen and (max-width: 850px)
{
    #indexshift { width: 95%; margin: 0 auto 0 auto; }
    #contactshift { margin: 0 auto 0 auto; with: 95%; }
    #content { padding: 20px 15px 20px 20px;}

    #content h2, #content #post h2, #indexshift h2, #contactshift h2,
    #content h1, #indexshift h1, #contactshift h1{
	margin: 20px 0px 10px 0px;
	padding: 0px 0px;}


    ul { padding-left: 20px; }

    #post p, #post ul, #post-list p, .post-entry p, .post-entry ul
							      {
								  font-size: 14pt;
								  text-align: left;
								  line-height: 22px;
								  margin: 15px 0 0 0;
							      }

    .post-date{ margin: 0px 0 3px 0px; font-size: 12pt;}
    .post-meta{ margin: 3px 0 30px 0px; font-size: 12pt; }
    .post-meta span { margin-right: 0px; }


}
