html 
{ 
    background: url(/images/fundo1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
{
    background-color: none;
    margin: 0px 0px 0px 0px;
    color: #333;
    font: 20px Cabin;
    font-weight: 100;
    text-align: justify;
}

p
{
    margin: 0px 0px;
}

a, a:visited
{
    color: #CA4A0A;
    text-decoration: none;
}

a:hover
{
    color: #2C0;
    text-decoration: none;
}

a img
{
    border: 0px;
}



/* headers */

#header
{
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 0px;
    height: 70px;
    background-color: #000;
    opacity: 0.8;
}

#header #title
{
    width: 250px;
    float: left;
    padding: 15px 0 0 10px;
    font: 25px 'Wellfleet';
    color: #FFF;
}

#header #title a, #header #title a:visited
{
    font: 25px 'Wellfleet';
    color: #FFF;
}


#header #pageindex
{
    width: 585px;
    float: center;
    margin: 0px auto;
}


#header #pageindex ul
{
    margin: 0px 0px 0px 0px;
    padding: 15px 30px 0 0px;
    list-style: none;
    font: 28px 'Wellfleet';
}

#header #pageindex li 
{
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 30px;
    font: 20px Verdana, sans-serif;
    color: #FFF;
}

#header #pageindex a, #header #pageindex a:visited
{
    color: #CFC;
    text-decoration: none;
}

#header #pageindex a.on, #header #pageindex a:hover.on
{
    text-decoration: underline;
}

#header #pageindex a:hover
{
    color: #FB6;
    text-decoration: none;
}


/* content */

#content
{
    margin: 15px auto 0px auto;
    width: 800px;
    padding: 0px 0px 0px 100px;
}

#contentc
{
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px;
    border: 0px solid #111;
    
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    
    background-color: #FFF;
    opacity: 0.92;
    
    margin: 90px auto 10px auto;
    padding: 10px 30px 10px 30px;
    width: 800px;
}

#contentc #column1
{
    width: 300px;
    float: left;
    text-align: center;
}

#contentc #column2
{
    margin: 0px 0px 0px 20px;
    width: 390px;
    float: left;
    text-align: center;
}

#contentc h1
{
    border-bottom: 2px solid #E80;
    padding: 0px 30px; 
    color: #E80;
    font: 40px Arvo;
    margin-top: 20px;
}

#contentc h1.nounderline
{
    border-bottom: 0px;
}


#contentc h2
{
    margin: 50px 0 0 0;
    padding: 0px 10px; 
    color: #3A2;
    font: 25px Arvo;
}


#contentc li
{
    margin: 0px 0px 10px 0px;
    color: #333;
    font-weight: 100;
    font: 16px Arvo;
}


/* Social */

#social
{
    display: block;
    z-index: 5;
    position: fixed;
    
    background-color: #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    opacity: 0.8;
    
    width: 50px;
    
    /* I want it to stay close to #content */
    top: 165px;
    left: 50%;
    margin: 0px 0px 0px 530px;
    padding: 0px 10px 10px 10px; /* = (800 + 100 / 2) + epsilon */
}

#social ul
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0 0px;
    list-style: none;
}

#social li
{
    dispĺay: inline;
    padding: 10px 0 0 0;
}

#social li img
{
    width: 50px;
}



/* Blog - post list*/

#post-list
{
    margin: 0px 0px 30px 0px;
}

#post-list h2
{
    margin: 50px 0 0 0;
    padding: 0px 10px; 
    color: #CA4A0A;
    font: 27px Arvo;
    padding: 0;
}

#post-list h2 a, #post-list h2 a:visited
{
    color: #E80;
    text-decoration: none;
}



#post-list div.post-meta
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CA4A0A;
}

#post-list div.post-meta span
{
    color: #777;
    font: 12px Arvo;
    margin: 0px 10px 0 0px;
}

#post-list div.post-entry, #post-list p.post-footer, #post-lister p
{
    color: #333;
    font: 16px Arvo;
    margin: 10px 0px 2px 0px;
}

#post-list p.post-footer
{
    color: #333;
    font: 14px Arvo;
    margin: 0px 0px 0px 0px;
}


/* Blog - posts */

#post
{
    margin: 0px 0px 30px 0px;
    
}

#post h1
{
    border-bottom: 0px;
    padding: 0px 0px; 
    color: #E80;
    font: 40px Arvo;
    margin: 20px 0px 0px 0px;
}


#post div.post-meta
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CA4A0A;
    
    margin: 5px 0px 30px 0px;
}

#post div.post-meta span
{
    color: #777;
    font: 14px Sans;
    margin: 0px 10px 0 0px;
}

#post p
{
    color: #333;
    font: 17px Cabin;
    margin: 10px 0px 10px 0px;
}

#post img.post-img
{
    display: block;
    margin: 12px auto 5px auto;
    width: 400px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
