<div id="social">

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/thmosqueiro" target="_blank">
	<img src="/images/icons/linkedin.png" alt="LinkedIn profile" />
      </a>
    </li>
    <li>
      <a href="https://github.com/thmosqueiro" target="_blank">
	<img src="/images/icons/github.png" alt="Github profile" />
      </a>
    </li>
    <li>
      <a href="https://www.researchgate.net/profile/Thiago_Mosqueiro"  target="_blank">
	<img src="/images/icons/researchgate.png" alt="Research Gate profile"/>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+ThiagoMosqueiro/posts" target="_blank">
	<img src="/images/icons/gplus.png" alt="Google+ profile" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/thmosqueiro"  target="_blank">
	<img src="/images/icons/twitter.png" alt="Twitter profile" />
      </a>
    </li>
  </ul>
  
</div>
