
  <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
	<a href="https://www.linkedin.com/in/thmosqueiro" target="_blank" class="list-group-item">
	  <img src="/images/icons/linkedin.png" alt="LinkedIn profile" />
	</a>
	<a href="https://twitter.com/thmosqueiro"  target="_blank" class="list-group-item">
	  <img src="/images/icons/twitter.png" alt="Twitter profile" />
	</a>
	<a href="https://www.researchgate.net/profile/Thiago_Mosqueiro"  target="_blank" class="list-group-item">
	  <img src="/images/icons/researchgate.png" alt="Research Gate profile"/>
	</a>
	<a href="https://github.com/thmosqueiro" target="_blank" class="list-group-item">
	  <img src="/images/icons/github.png" alt="Github profile" />
	</a>
	<a href="https://github.com/VandroiyLabs" target="_blank" class="list-group-item">
	  <img src="/images/icons/logoVandroiy.png" alt="Vandroiy Labs profile" />
	</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->
