<div id="social">

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/thmosqueiro" target="_blank">
	<img src="/images/icons/linkedin.png"/>
      </a>
    </li>
    <li>
      <a href="https://github.com/thmosqueiro" target="_blank">
	<img src="/images/icons/github.png" />
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+ThiagoMosqueiro/posts" target="_blank">
	<img src="/images/icons/gplus.png" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/thmosqueiro"  target="_blank">
	<img src="/images/icons/twitter.png" />
      </a>
    </li>
  </ul>
  
</div>
