---
layout: standard_layout
---

<h1 class="nounderline">My texts, thoughts, and beyond</h1>


<div id="post-list">

  {% for post in site.posts %}

  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="post-date">
    <span id="date">
      Published on {{ post.date | date: "%b %-d %Y" }}
    </span>
  </div>
  <div class="post-meta">
    <span>
      Categories:
      {% for cat in post.categories %}
        <a href="/categories.html#{{ cat }}-ref">{{ cat }}</a>
      {% endfor %}
    </span>
    <span>
      Tags:
      {% for tag in post.tags %}
      <a href="/tags.html#{{ tag }}-ref">{{ tag }}</a>
      {% endfor %}
    <span>
  </div>

  <div class="post-entry">
    {{  post.content || split:'<!-- Split Here - Snapshot -->' | first }}
  </div>
  <p class="post-footer">
    <a href="{{ post.url }}">Read more...</a>
  </p>


  {% endfor %}

</div>
