<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  {% include head.html %}

  <body>
    
    {% include tophor_index.html %}


    <div class="container">
      
      <div id="maincontent" class="col-xs-9 col-sm-11">
	
	{{ content }}
	
      </div>
      
      {% include final_index.html %}

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/offcanvas.js"></script>
  </body>
  
</html>
